.grid {
  height: 480px;
  width: 480px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  margin: auto;
  justify-content: space-around;
}

.gridItem {
  height: 55px;
  width: 55px;
}

h1 {
  text-align: center;
}
